mixin header(type)
  if type === 1
    header.header.header--type-1
  else if type === 2
    header.header.header--type-2
  else if type === 3
    header.header.header--type-3
  else if type === 4
    header.header.header--type-4
  else if type === 5
    header.header.header--type-5
  else if type === 6
    header.header.header--type-6
  else if type === 7
    header.header.header--type-7
  else if type === 8
    header.header.header--type-8
  else if type === 9
    header.header.header--type-9
  else if type === 10
    header.header.header--type-10
  else if type === 11
    header.header.header--type-11
  else if type === 12
    header.header.header--type-12
  else if type === 13
    header.header.header--type-13
  else if type === 14
    header.header.header--type-14
  else if type === 15
    header.header.header--type-15
  else
    - console.log('Parameter cannot be blank. Please enter a value.')